<<<<<<< HEAD
body{
	margin:0px;
	padding:0px;
=======
body
{
	margin: 0px;
	padding: 0px;
}
.center_footer
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
>>>>>>> 598970d5ff3d4ed126c1c69affe41aaf1cc50f47
}
