<<<<<<< HEAD
header{
	background-color:#FF0000;
	height:70px;
	width:100%;
=======
header
{
	background-color: #FF0000;
	height: 70px;
	width: 100%;
>>>>>>> 598970d5ff3d4ed126c1c69affe41aaf1cc50f47
}
