<<<<<<< HEAD
body{
	margin:0px;
	padding:0px;
	color:#484848;
	font-size:14px;
	font-family:Cicular,"Helvetica Neue",Helvetica,Arial,sans-serif;
=======
body
{
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	color: #484848;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.center_footer
{
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
>>>>>>> 598970d5ff3d4ed126c1c69affe41aaf1cc50f47
}
