<<<<<<< HEAD
footer{
	background-color: white;
	position: absolute;
	bottom: 0px;
	height: 60px;
	width: 100%;
	text-align: center;
	line-height: 60px;
=======
footer
{
	background-color: white;
	border-top: 1px solid #CCCCCC;
	height: 60px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	align-items: center;
	justify-content: center;
	display: flex;
	text-align: center;
>>>>>>> 598970d5ff3d4ed126c1c69affe41aaf1cc50f47
}
