<<<<<<< HEAD
.filters{
	position: relative;
	background-color: white;
=======
.locations
{
	display: inline-block;
	height: 100%;
	width: 25%;
}
.filters
{
	background-color: white;
	position: relative;
>>>>>>> 598970d5ff3d4ed126c1c69affe41aaf1cc50f47
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}
<<<<<<< HEAD

.filters button{
	position: absolute;
=======
.amenities
{
	display: inline-block;
	height: 100%;
	width: 25%;
}
.locations h3, .amenities h3
{
	font-weight: 600;
}
.filters > .locations
{
	border-right: 1px solid #DDDDDD;
}
.locations h4, .amenities h4
{
	font-weight: 400;
	font-size: 14px;
}
.locations h3, .locations h4, .amenities h3, .amenities h4
{
	margin-left: 40px;
	margin: 0;
	margin-top: 10px;
}
.search_button
{
	display: inline-block;
>>>>>>> 598970d5ff3d4ed126c1c69affe41aaf1cc50f47
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
<<<<<<< HEAD
	border: none;
	border-radius: 4px;
}

.filters button:hover{
       opacity: 0.9;
}

.filters .amenities{
	height: 100%;
	width: 25%;
	float: left;
}

.filters .locations{
	height: 100%;
	width: 25%;
	border-right: 1px solid #DDDDDD;
	float: left;
}

.filters .locations h3, .filters .amenities h3{
	font-weight: 600;
	padding-left: 40px;
	margin: 10px 0;
}

.filters .locations h4, .filters .amenities h4{
	font-weight: 400;
	font-size: 14px;
	padding-left: 40px;
	margin: 10px 0;
=======
	position: absolute;
	border-radius: 4px;
	border: none;
	margin-top: 11px;
	left: 80%;
	transform: translateX(-30px);
}

.search_button:hover
{
	opacity: 0.9;
>>>>>>> 598970d5ff3d4ed126c1c69affe41aaf1cc50f47
}
