.locations
{
	height: 100%;
	display: inline-block;
	width: 25%;
}

.filters
{
	border: 1px solid #DDDDDD;
	background-color: white;
	position: relative;
	height: 70px;
	width: 100%;
	border-radius: 3px;
}

.amenities
{
	display: inline-block;
	width: 25%;
	height: 100%;
}
.locations h3, .amenities h3
{
	font-weight: 600;
}
.filters > .locations
{
	border-right: 1px solid #DDDDDD;
}

.locations h4, .amenities h4
{
	font-weight: 400;
	font-size: 14px;
}
.locations h3, .locations h4, .amenities h3, .amenities h4
{
	margin: 0;
	margin-top: 10px;
	margin-left: 40px;
}

.popover h2
{
	font-size: 20px;
}

.locations .popover, .amenities .popover
{
	position: absolute;
	background-color: #FAFAFA;
	border-radius: 4px;
	top: 100%;
	width: 25%;
	border: 1px solid #DDDDDD;
	display: none;
}

.amenities .popover
{
	left: 25%;
}

.locations:hover .popover, .amenities:hover .popover
{
	display: block;
}

.search_button
{
	display: inline-block;
	font-size: 18px;
	background-color: #FF5A5F;
	height: 48px;
	color: #FFFFFF;
	border: none;
	width: 20%;
	position: absolute;
	border-radius: 4px;
	left: 80%;
	transform: translateX(-30px);
	margin-top: 11px;

}

.search_button:hover 
{
	opacity: 0.9;
}
